<a href="https://colab.research.google.com/github/moonspaceash/Python-Learning/blob/main/High%20Order%20Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#High Order Functions are list of this functions which take input of another function as an arguement

#Map

It takes a function and sequence as the arguments and then returns a list after applying the function to each sequenceâ€™s items. Let us consider an example :-

Syntax of Map Function  -  **map(function,  iterable Object)**

In [12]:
x=  map (lambda x: x+2, [1,2,3,4])

In [13]:
x
#Map return Object

In [14]:
list(x)

[3, 4, 5, 6]

#Filter
Filter takes two parameters, the first one is a function and the second one is a sequence. Then it returns an iterator that passed through a function test for those elements function returns True. Let us consider an example, suppose we want to filter out those numbers which are greater than 50 from a given list of numbers.

In [15]:
numbers = [55, 92, 27, 48, 34, 62, 71, 18, 28, 43]

In [20]:
def checking(n):
  if n>50:
    #return False
    print('Faulty')
  else:
    #return True
    print('Not Faulty')

In [24]:
def checking_boolear(n):
  if n>50:
    return False
  else:
    return True

In [21]:
Y=  filter(checking, numbers)

In [22]:
Y

In [23]:
list(Y)

Faulty
Faulty
Not Faulty
Not Faulty
Not Faulty
Faulty
Faulty
Not Faulty
Not Faulty
Not Faulty

[]

In [25]:
Z= filter(checking_boolear,numbers)

In [26]:
Z

In [27]:
list(Z)

[27, 48, 34, 18, 28, 43]

#Reduce Function
It takes a sequence/iterable of input data then applies to the function 
provided and gives a single result.

It is used to reduce an iterable to a single value by applying a specified binary function to the elements in a cumulative way. The binary function should take two arguments and return a single value.

From recent Python version you will need to  import reduce library

In [52]:
from functools import reduce

In [53]:
def  addition_sum(a,b):
  return a+b

In [54]:
n= map(int, input("Enter the List of Number").split())

Enter the List of Number1 2 3 4

In [60]:
type(n)

map

In [59]:
type(list(n))

list

In [56]:
reduce(addition_sum,n)

10